
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

/* Ana gövde ayarları */
.main {
  width: 100%;  /* Genişlik ayarı */
  background-image: url(./images/arkaplan.jpg);   /* Arka plana resim ekledik*/
  background-size: cover; /* Resmin tam sayfayı kaplamasını sağlar */
  background-attachment: fixed;  /* Arka planın sabit kalmasını sağlar*/
}

/* Navbar ayarları */
ul {
  list-style-type: none; /* Liste ögelerinin başında gelen madde işaretlerini kaldırır*/
  overflow: hidden; /* Bir içerik dışarı taşarsa, bu taşan kısmı gizlemek için kullanılır.*/
  position: fixed; /* Navbar'ın ( Anasayfa, Tarihçe ...) sayfayı aşağıya indirdiğimizde sabit kalmasını sağlar*/ 
  top: 0; /* Navbar'ı üstte olacak şekilde ayarlar */
  width: 100%; /* Genişliği ayarlar*/
  text-align: center; /* Yazıyı ortalamayı sağlar*/
  background-color: black;
 
}

li {
  display: inline-block;
  height: 60px; /* Uzunluğu ayarlar*/
}

li a {
  display: inline-block; 
  color: white;
  padding: 20px 30px; /* İç boşluğu ayarlar*/
  text-decoration: none; /* A elementinin altındaki mavi çizgiyi kaldırır*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Yazı stilini yani Font türünü ayarlar*/
  font-size: 25px; /* Yazının büyüklüğünü ayarlar*/
}

li a:hover {
  background-color: rgb(167, 122, 167); /* Navbar'a mouse ile üzerine gelindiğinde üzerinde çıkan rengi düzenler*/
}

/* Navbar altındaki çizgi */
.navbar-hr {

  border: 1px solid white;  /* Çerçeve kalınlığını, şeklini, rengini değiştirilmesini sağlar*/
  width: 100%; /* Genişliğini sayfayı kaplayacak şekilde ayarlar*/
  position: fixed; /* Navbar'ın altındaki Çizginin sabit kalmasını sağlar*/
  top: 60px; /* Navbar'ın konumunu ayarlar*/
 
}

/* İçerik alanı */
.content {
  padding: 2px; /* İç boşluğunu ayarlar*/
  margin-top: 110px; /* Dış boşluğunu ayarlar*/
  height: 890px; /* Yüksekliğini ayarlar*/
  width: 100%; /* Genişliğini ayarlar*/
  font-family: 'Muli', sans-serif; /* Yazı stilini yani Font türünü ayarlar*/
  color: rgb(221, 205, 205);
}

.baslik {
  font-size: 60px; /* Font büyüklüğünü ayarlar*/
  text-align: center; /* Yazıyı ortalar*/
  color: gainsboro; /* Renk */
}

.paragraf {
  font-size: 22px; /* Font büyüklüğünü ayarlar*/
  text-align: center; /* Yazıyı ortalar*/
  padding: 10px; /* İç boşluğu düzenler*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Yazı stilini yani Font türünü ayarlar*/
}

.bayrak a img  {
  width: 40px; /* Genişliği ayarlar*/
  vertical-align: middle; /* Japonya bayrağını navbar'a ortalar*/
}

.bayrak-logo img {
  margin-top: 100px; /* İç boşluğa üstten 200px değer verir*/
  margin-right: 60px;
  height:300px;
  width: 420px; /* Genişlik değeri*/
  float: right; /* Tarihçe bölümündeki Bayrak resmini sağa kaydırır */
}

.paragraf2 {
  padding-top: 50px;  /* Üstten iç boşluk verir*/
  padding-left: 50px; /* Soldan iç boşluk verir*/
  width: 920px; /* Genişlik*/
  font-size: 18px; /* Font büyüklüğünü düzenler*/
  text-align: center; /* Yazıyı ortalar*/
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tarihcebg {
 
  background-color: rgb(7, 7, 32);
}


.baslik2 {
   
    font-size: 40px; /* Font büyüklüğünü ayarlar */
    text-align: center; /* Yazıyı ortalar */
    color: rgb(207, 98, 98); /* Renk */
    margin-top: 100px; /* Üstten boşluk */
    padding-bottom: 10px;

}

.paragraf3{
  padding-top: 50px;  /* Üstten iç boşluk verir*/
  margin-left: 100px; /* Soldan iç boşluk verir*/
  width: 1250px; /* Genişlik*/
  font-size: 20px; /* Font büyüklüğünü düzenler*/
  text-align: center; /* Yazıyı ortalar*/
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}


.tarihce-resim1 img {
  width: 400px;
  height: 500px;
  float: left;
  margin-left: 350px;
  margin-right: 50px;
}


